
body{
	margin: 0;
	padding: 0;
	background-image:url(images/bg.jpg);
    background-size: cover;
	background-repeat:no-repeat;
    font-family: sans-serif;
	font-family: arial;

}
.nav{
    width: 100%;
	height: 49px;
	background-color: #262626;

}
.nav a{
	float: left;
	text-decoration: none;
	color: #fff;
	padding: 14px 26px;
	font-size: 17px;
	transition: 0.6s all;

}
.nav a:hover{
	background-color: dodgerblue;
}
.nav .search{
	float: right;
}
.nav input[type=text]{
	padding: 6px;
	margin-top: 8px;
	border:none;
	font-size: 17px;

}
.nav .search button{
	float: right;
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	margin-right: 16px;
	border:none;
	background-color: dodgerblue;
	cursor: pointer;
	transition: 0.6s all;
}
.nav .search button:hover{
	background-color: dodgerblue;
	color: #fff;


}